@import "./assets/variables/variables";
@import "./assets/mixins/mixins";

*{
  font-family: $font-secondaire;
}

html {
  background-color: white;
}

// ************************** HEADER **************************

header {
  background-image: linear-gradient(
      9deg,
      rgba(36, 19, 0, 0.2) 0%,
      rgba(113, 113, 113, 0.2) 11%,
      rgba(255, 0, 0, 0.2) 100%
    ),
    url(/assets/images/header-sushi.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titre-principal {
  position: absolute;
  top: 15%;

  h1 {
    @include font-principal;
    font-size: 450%;

    span{
      font-weight: 700;
      border: 2px solid white;
      border-radius: 30px;
      padding: 5px 10px;
    }
  }

  p{
    @include font-secondaire;
    font-size: 180%;

  }
}

// ************************** BOUTONS **************************

.btn{
  display: inline-block;
  padding: 10px 30px;
  transition: background-color 1s, color 1s, border 1s;
}

.btn-full{
  background-color: white;
  margin-right: 20px;

  &:hover{
    background-color: black;
    color: white;
  }
}

.btn-ghots{
  border: 1px solid white;
  color: white;

  &:hover{
    border: 1px solid black;
    background-color: black;
    color: white;
  }
}