@import "./assets/variables/variables";
@import "./assets/mixins/mixins";

* {
  font-family: $font-secondaire;
}

html {
  background-color: white;
}

h2 {
  @include titre-h2;
  margin: 40px 0;
}

h3,
h4 {
  @include font-secondaire;
  color: black;
  font-size: 160%;
}

p {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

section {
  padding: 30px 0 60px 0;
}

// ************************** HEADER **************************

header {
  background-image: linear-gradient(
      9deg,
      rgba(36, 19, 0, 0.2) 0%,
      rgba(113, 113, 113, 0.2) 11%,
      rgba(255, 0, 0, 0.2) 100%
    ),
    url(/assets/images/header-sushi.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titre-principal {
  position: absolute;
  top: 15%;

  h1 {
    @include font-principal;
    font-size: 450%;

    span {
      font-weight: 700;
      border: 2px solid white;
      border-radius: 30px;
      padding: 5px 10px;
    }
  }

  p {
    @include font-secondaire;
    font-size: 180%;
    margin: 15px 0;
  }
}

// ************************** BOUTONS **************************

.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 15px;
  transition: background-color 1s, color 1s, border 1s;
}

.btn-full {
  background-color: white;
  margin-right: 20px;

  &:hover {
    background-color: black;
    color: white;
  }
}

.btn-ghots {
  border: 1px solid white;
  color: white;

  &:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
  }
}

// ************************** SECTION CHOIX **************************

.section1-photo {
  max-width: 100%;
  height: auto;
}

.section1-choix {
  margin: 20px 0;

  &:hover .icons {
    transform: translateX(20px);
  }
}

.icons img {
  width: 50px;
}

.icons {
  transition: all 1s ease-in-out;
}

// ************************** SECTION FAMILLES **************************

.familles {
  background-color: black;

  h2 {
    margin: 40px 0;
    color: white;

    &::after {
      background-color: white;
    }
  }
}

.familles-details {
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
}

.familles-details img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.familles-details h4 {
  text-align: center;
  padding: 10px 0;
}

.familles-details p {
  margin: 0;
}

// ************************** SECTION PHOTOS **************************

.galeries-img {
  height: 300px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.728);
  margin-bottom: 50px;
}

// ************************** SECTION AVIS **************************

.avis {
  background-color: black;

  h2 {
    margin: 40px 0;
    color: white;

    &::after {
      background-color: white;
    }
  }
}

blockquote {
  padding: 5px;
  font-style: italic;
  line-height: 130%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.361);
  padding: 10px;
  border-radius: 10px;
}

cite {
  font-size: 90%;
  display: block;
  margin-top: 20px;

  img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
